 .Cart {
     display: flex;
     flex-flow: column nowrap;
     justify-content: space-between;
     align-items: center;
 }

 .Cart h2 {
     text-align: center;
 }

 .Cart a {
     text-decoration: none;
 }

 .Cart button {
     display: block;
     margin: 0 auto;
     margin-top: 5px;
     border: 1px solid lightseagreen;
     background-color: #fff;
     cursor: pointer;
     padding: 10px;
     font-family: 'Balsamiq Sans',
         cursive;
     font-weight: 400;
     border-radius: 10px;
 }

 .Cart button:hover {
     color: #fff;
     background-color: lightseagreen;
     transition: all .4s ease;
 }

 .Cart .carritoInfo {
     display: flex;
     flex-flow: row nowrap;
     justify-content: center;
     align-items: center;
 }

 .Cart .carritoInfo table td button {
     border: none;
 }