.ItemDetail {
    margin: auto;
    margin-top: 20px;
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.ItemDetail .ItemsDetails {
    margin: 0 auto;
    width: 40%;
    height: 300px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.ItemDetail .ItemsDetails .ItemImg img,
.ItemDetail .ItemsDetails .ItemInfo h2,
.ItemDetail .ItemsDetails .ItemInfo p {
    margin: 0 auto;
}

.ItemDetail h2,
.ItemDetail p {
    font-family: 'Balsamiq Sans',
        cursive;
}

.ItemDetail h2,
.ItemDetail .precio {
    font-size: 30px;
}

.ItemDetail p {
    font-size: 16px;
}

.ItemDetail img {
    width: 300px;
    height: 300px;
}

.ItemDetail .ItemsDetails .ItemImg {
    width: 60%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

.ItemDetail .ItemsDetails .ItemInfo {
    width: 40%;
    height: 80%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;
}