.ItemDetail {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 100px;
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.ItemDetail .ItemsDetails {
    margin: 0 auto;
    width: 40%;
    height: 300px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.ItemDetail .ItemsDetails .ItemImg img,
.ItemDetail .ItemsDetails .ItemInfo h2,
.ItemDetail .ItemsDetails .ItemInfo p {
    margin: 0 auto;
}

.ItemDetail h2,
.ItemDetail p {
    font-family: 'Balsamiq Sans',
        cursive;
}

.ItemDetail h2,
.ItemDetail .precio {
    font-size: 30px;
}

.ItemDetail p {
    font-size: 16px;
}

.ItemDetail img {
    width: 300px;
    height: 300px;
}

.ItemDetail .ItemsDetails .ItemImg {
    width: 60%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
}

.ItemDetail .ItemsDetails .ItemInfo {
    width: 40%;
    height: 80%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: flex-start;
}

/* MEDIA QUERY */
/* MOBILE S */
@media screen and (min-width:319px) and (max-width:374px) {
    .ItemDetail {
        margin: auto;
        margin-top: 20px;
        margin-bottom: 100px;
        width: 90%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .ItemDetail .ItemsDetails {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    .ItemDetail img {
        width: 250px;
        height: 250px;
    }

    .ItemDetail .ItemsDetails .ItemImg {
        width: 100%;
    }

    .ItemDetail .ItemsDetails .ItemInfo {
        width: 90%;
        height: 250px;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
    }
}

/*Mobile M*/
@media screen and (min-width:375px) and (max-width:424px) {
    .ItemDetail {
        margin: auto;
        margin-top: 20px;
        margin-bottom: 100px;
        width: 90%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .ItemDetail .ItemsDetails {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    .ItemDetail img {
        width: 250px;
        height: 250px;
    }

    .ItemDetail .ItemsDetails .ItemImg {
        width: 100%;
    }

    .ItemDetail .ItemsDetails .ItemInfo {
        width: 90%;
        height: 250px;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
    }
}

/*Mobile L*/
@media screen and (min-width:425px) and (max-width:767.98px) {
    .ItemDetail {
        margin: auto;
        margin-top: 20px;
        margin-bottom: 100px;
        width: 90%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .ItemDetail .ItemsDetails {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    .ItemDetail .ItemsDetails .ItemImg {
        width: 100%;
    }

    .ItemDetail .ItemsDetails .ItemInfo {
        width: 90%;
        height: 250px;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
    }
}

/*TABLET */
@media screen and (min-width:768px) and (max-width:1299.98px) {
    .ItemDetail .ItemsDetails {
        width: 80%;
    }
}