.ItemListContainer {
    margin: auto;
    margin-top: 70px;
    margin-bottom: 100px;
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.ItemListContainer .MuiCircularProgress-colorPrimary {
    color: lightseagreen;
}

.ItemListContainer h2 {
    font-family: 'Balsamiq Sans',
        cursive;
    font-size: 42px;
}

/* MEDIA QUERY */
/* MOBILE S */
@media screen and (min-width:319px) and (max-width:374px) {
    .ItemListContainer {
        margin-top: 20px;
    }

    .ItemListContainer h2 {
        font-size: 26px;
    }
}

/*Mobile M*/
@media screen and (min-width:375px) and (max-width:424px) {
    .ItemListContainer {
        margin-top: 30px;
    }

    .ItemListContainer h2 {
        font-size: 32px;
    }
}

/*Mobile L*/
@media screen and (min-width:425px) and (max-width:767.98px) {
    .ItemListContainer {
        margin-top: 30px;
    }

    .ItemListContainer h2 {
        font-size: 32px;
    }
}

/*Tablet*/
@media screen and (min-width:768px) and (max-width:1023.98px) {
    .ItemListContainer {
        margin-top: 30px;
    }

    .ItemListContainer h2 {
        font-size: 32px;
    }
}

/*TABLET GRANDE */
@media screen and (min-width:1024px) and (max-width:1299.98px) {
    .ItemListContainer {
        margin-top: 40px;
        margin-bottom: 100px;
    }
}