.ItemListContainer {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.ItemListContainer .MuiCircularProgress-colorPrimary {
    color: lightseagreen;
}