 .AddToCart,
 .Purchase {
     display: block;
     margin: 0 auto;
 }

 .Purchase a {
     text-decoration: none;
 }

 .AddToCart button,
 .Purchase button {
     display: block;
     margin: 0 auto;
     margin-top: 5px;
     border: 1px solid lightseagreen;
     background-color: #fff;
     cursor: pointer;
     padding: 10px;
     font-family: 'Balsamiq Sans',
         cursive;
     font-weight: 400;
     border-radius: 10px;
 }

 .AddToCart button:hover,
 .Purchase button:hover {
     color: #fff;
     background-color: lightseagreen;
     transition: all .4s ease;
 }