:root {
    --font-principal: 'IBM Plex Mono',
        monospace;
    --background-color: #00F3BB;
    --color-principal: #060A24;
    --text-hover: #00F3BB;
    --text-active: rgba(6, 10, 36, 0.56);
    --text-button: #060A24;
    --button-hover: #FFFFFF;
}

.NavBar header {
    width: 90%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.NavBar header .logo img {
    width: 20%;
    height: 20%;
}

.NavBar header nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.NavBar header nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
}

.NavBar header nav ul li a {
    font-family: var(--font-principal);
    color: var(--color-principal);
    margin-right: 50px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}

.NavBar header nav ul li a:hover {
    color: var(--text-hover);
    text-decoration: underline;
}

.MuiSvgIcon-root {
    color: var(--color-principal);
}

.NavBar header nav ul ul {
    display: none;
    position: absolute;
    top: 5.5%;
    right: 4%;
}

.NavBar header nav ul ul li {
    width: 150px;
    line-height: 120%;
    padding: 10px 15px;
    border: 1px solid var(--text-button);
}

.NavBar header nav ul ul a {
    text-decoration: none;
}

.NavBar header nav ul li:hover>ul {
    display: block;
}

.NavBar header nav ul ul li a:hover {
    color: var(--text-button);
    text-decoration: underline;
}