.FinalizarCompra {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.FinalizarCompra .FormOrder .Form {
    width: 100%;
    height: 200px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
}

.FinalizarCompra input {
    border-radius: 10px;
    border: 1px solid lightseagreen;
    height: 25px;
    width: 300px;
}

.FinalizarCompra button {
    display: block;
    width: 100px;
    margin: 0 auto;
    margin-top: 5px;
    border: 1px solid lightseagreen;
    background-color: #fff;
    cursor: pointer;
    padding: 10px;
    font-family: 'Balsamiq Sans',
        cursive;
    font-weight: 400;
    border-radius: 10px;
}

.FinalizarCompra button:hover {
    color: #fff;
    background-color: lightseagreen;
    transition: all .4s ease;
}

/* MEDIA QUERY */
/* MOBILE S */
@media screen and (min-width:319px) and (max-width:374px) {
    .FinalizarCompra {
        width: 90%;
        margin: 0 auto;
    }

    .FinalizarCompra h3 {
        text-align: center;
    }
}

/*Mobile M*/
@media screen and (min-width:375px) and (max-width:424px) {
    .FinalizarCompra h3 {
        text-align: center;
    }

    .FinalizarCompra {
        width: 90%;
        margin: 0 auto;
    }
}

/*Mobile L*/
@media screen and (min-width:425px) and (max-width:767.98px) {
    .FinalizarCompra h3 {
        text-align: center;
    }

    .FinalizarCompra {
        width: 90%;
        margin: 0 auto;
    }
}